#menu {
  padding-top: 30px;
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: center;
  z-index: 30;
  gap: 53px;

  transition:
    transform 0.5s ease,
    opacity 0.5s ease;

  p {
    color: white;
  }

  .icon-menu {
    height: 40px;
    width: auto;
    cursor: pointer;
  }

  .icon-menu:hover {
    border-bottom: 1px solid #f5e6c8;
  }
}
#menu.up {
  transform: translateY(-150%);
  opacity: 0;
}
