#menu {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;

  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 53px;
  z-index: 30;

  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}
@media (min-height: 601px) {
  #menu {
    padding-top: 8%;
  }
}
#menu p {
  color: white;
}

#menu .icon-menu {
  height: 40px;
  width: auto;
  cursor: pointer;
}

#menu .icon-menu:hover {
  border-bottom: 1px solid #f5e6c8;
}

#menu.up {
  transform: translateY(-150%);
  opacity: 0;
}
