main {
  background-image: url(../../../../public/assets/warhammer/fundos/altdorf.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.voltar {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  padding: 40px 80px;
  z-index: 40;
  cursor: pointer;
  transform: translateX(-120%);
  transition: transform 0.6s ease, opacity 0.4s ease;
  opacity: 0;
  pointer-events: none;
}
.voltar.in {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.thumb {
  cursor: pointer;
  position: absolute;
  width: auto;
  z-index: 5;
  transition:
    opacity 0.4s ease, left 0.4s ease, right 0.4s ease, transform 0.4s ease;
}
.thumb:hover {
  transform: scale(1.1);
}
.thumb-esquerdo {
  left: 10vw !important;
  right: auto !important;
  transform-origin: left center;
}
.thumb-direito {
  left: 75vw !important;
  right: auto !important;
  transform-origin: right center;
}

.thumb-ativo {
  top: 25% !important;
  pointer-events: none;
  transform: scale(1.35);
}

.fade-out {
  opacity: 0;
  pointer-events: none;
}
.fade-in {
  opacity: 1;
}

#sarah,
#jehan {
  z-index: 30 !important;
}
