main {
  background-image: url(../../../../public/assets/warhammer/fundos/altdorf.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.voltar {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  padding: 40px 80px;
  z-index: 40;
  cursor: pointer;
  transform: translateX(-120%);
  transition:
    transform 0.6s ease,
    opacity 0.4s ease;
  opacity: 0;
  pointer-events: none;
}
.voltar.in {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.thumb {
  cursor: pointer;
  position: relative;
  width: auto;
  z-index: 5;
  transition:
    opacity 0.4s ease,
    transform 0.2s ease;
}
.thumb:hover {
  transform: scale(1.1);
}

.fade-out {
  opacity: 0;
  pointer-events: none;
}
.fade-in {
  opacity: 1;
}
