main {
  background-image: url(../../../../public/assets/warhammer/fundos/altdorf.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.thumb {
  cursor: pointer;
  position: relative;
  width: auto;
  z-index: 5;
  transition:
    opacity 0.4s ease,
    transform 0.2s ease;
}

.thumb:hover {
  transform: scale(1.1);
}

.fade-out {
  opacity: 0;
  pointer-events: none;
}

.fade-in {
  opacity: 1;
}
