.layer {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moldura {
  position: absolute;
  inset: 0; /* ocupa toda a layer */
  background-image: url(../../../../public/assets/vampire/fundos/moldura.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none; /* importante! */
  z-index: 2;
}

pintura-view {
  position: relative;
  z-index: 1;
}
