.box {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition:
    filter 0.4s ease,
    opacity 0.4s ease;
}
.box.ativo {
  filter: blur(3px) brightness(0.85);
  opacity: 1;
}
