html,
main,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  background-color: black;
}
.esquerdo {
  left: 8vw;
}
.direito {
  right: 8vw;
}
.d-none {
  display: none;
  opacity: 0;
}
menu-view {
  position: absolute;
  width: stretch;
  z-index: 7;
}
.voltar {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  padding: 40px 80px;
  z-index: 8;
  cursor: pointer;
  transform: translateX(-120%);
  transition: transform 0.6s ease, opacity 0.4s ease;
  opacity: 0;
  pointer-events: none;
}
.voltar.in {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}
