html,
main,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}
.esquerdo {
  left: 8vw;
}
.direito {
  right: 8vw;
}
.d-none {
  display: none;
  opacity: 0;
}
menu-view {
  position: absolute;
  width: stretch;
}
